body {
	background-color: #EEEEEE;
	margin-top: 0;
	margin-left: 10%;
    margin-right: 10%;

}
.body{
	background-color: white;
	height: 100%;
	width: 100%;
}

.title-box{
	text-align: center;
	padding-top: 40px;
	width:100%;
	height: auto;
	background-color: white;
}
.form-box{
    margin-left: 5px;
}
.date{
	width:100px;
	border-radius: 5px;
}
.category{
	height: 18px;
	margin-top: 5px;
	border-radius: 5px;
}
.links{
	float:right;
	
}
.link{
	width:auto;
	height:auto;
	background-color: #EEEEEE;
	border:1px solid; border-color:#C0C0C0; 
	text-decoration: none;
	color: black;
	font-size: 14px;
	margin-right: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 2px;
    padding-bottom: 2px;
}

.message-box{
	margin-left: 5px;
	
}
.logoutform{
	float:right;
}
.title{
	font-size: 30px;
}
.login{
	text-align: center;
	
	margin-top: 15%;
    margin-bottom: 25%;
}
.loginId_form{
	border-radius: 5px;
	width: 200px;;
}
.loginId_form-submit{
	width: 100px;
	border-radius: 5px;
}
.login_id-submit{
	margin-top: 20px;
}
ul{
	list-style: none;
}

.message-box{
	border:3px solid; border-color:#EEEEEE; 
    border-radius: 10px;
    margin: 10px;
    height: auto;
    width: auto;
}
p.name{
	text-align: center;
}
p.{
    border-bottom: 3px solid;
    border-color: black;
}
.message{
	font-size: 20px;
	width: 100%;
	height: 100%;
    padding-right: 75%;
    padding-left: 5%;

}
.message-title{
	height: auto;
    width: auto;
}
.message-text{
	font-size: 20px;
	width: ;
	height: 100%;
	margin: 5px 5px;
	word-break: break-all;


}
pre{
	
    /* Mozilla */
    white-space: -moz-pre-wrap;
    /* Opera 4-6 */
    white-space: -pre-wrap;
    /* Opera 7 */
    white-space: -o-pre-wrap;
    /* CSS3 */
    white-space: pre-wrap;
    /* IE 5.5+ */
    word-wrap: break-word;
}
.test{
	word-break: break-all;	
}
.message-text-box{
	height: auto;
	margin-left: 5%;
    margin-right: 5%;
	border:1px solid; border-color:#EEEEEE; 
    border-radius: 15px;
	padding: 5px;
	
}
.message-user{
	background-color: white;
	width: 30%;
	hight: auto;
	margin-left: 70%;
}
.balloon{
  height: auto;
  position: relative;
  padding: 10px;
  background-color: #EEEEEE;
  border-radius: 30px;
  width: 50%;
  margin-left:50px;
  margin-bottom: 10px;
}

.balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 20px solid #EEEEEE;
  border-top:  border;
  border-bottom: 15px solid transparent;
  
}
.comment-user-box{
  text-align: right;
}
.Comment-form{
	margin-right: 10px;
}
.comment{
	width: 550px;
    height: 100px;
    resize: none;
    border-radius: 10px;
	margin-left: 45px;
	margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
	
}
table{
	 text-align: center;
	 width: 100%;
}
tr{
	border: 1px solid black;
}
td{
	border: 1px solid black;
}

.NewMessage{
	text-align: center;
}
.UserEdit{
    text-align: center;
}

.SigunUp{
	text-align: center;
}
