body {
	background-color: #EEEEEE;
}
.title-box{
	width:100%;
	height: 100px;
	padding-top: 0px;
    padding-bottom: 0px;
}

.title-login{
	text-align: center;
	font-size: 30px;	
}
.login{
	height: auto;

	text-align: center;
	
} 
}
.login_id{
	
.login_form{
     width: 100%;
	
}

p{
	margin: 0 0 0 0;
	
}
